
.leftSide {
    width: 45vw;
    margin-left: 3vw;
    margin-bottom: 10vh;
}

.artSub {
    width: 35vw;
    text-align: left;
    font-size: 2.3em;
    font-family: 'Raleway', sans-serif;
    border-left: #3F3C3C solid 3px;
    padding-left: 2vw;
}

.artDesc {
    float: left;
    width: 42vw;
    text-align: left;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    border-left: #3F3C3C solid 3px;
    border-bottom: #3F3C3C solid 3px;
    padding-bottom: 1vw;
    padding-left: 3vw;
    padding-top: 1vh;
    margin: 0;
}

.artList {
    float: left;
    width: 42vw;
    text-align: left;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 1vw;
    padding-left: 3vw;
    padding-top: 1vh;
    margin: 0;
}

.artItem {
    margin-left: 3vw;
    margin-top: 2vh;
    width: 40vw;
}

.pad {
    padding: 4vh;
    width: 35vw;
}

.break {
    padding-top: 1vh;
}

.gallery {
    float: right;
    padding-right: 1vh;
    padding-bottom: 3vh;
    width: 45vw;
    color: #ffffff;
    margin-top: -20vh;
}


@media (min-width:1312.98px) {


    .leftSide {
        width: 45vw;
        margin-left: 3vw;
        margin-bottom: 10vh;
    }

    .artSub {
        width: 35vw;
        text-align: left;
        font-size: 2.3em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
    }

    .artDesc {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artList {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artItem {
        margin-left: 3vw;
        margin-top: 2vh;
        width: 40vw;
    }

    .pad {
        padding: 4vh;
        width: 35vw;
    }

    .break {
        padding-top: 1vh;
    }

    .gallery {
        float: right;
        padding-right: 1vh;
        padding-bottom: 3vh;
        width: 45vw;
        color: #ffffff;
        margin-top: -20vh;
    }
}


@media (max-width: 1280.98px) { /* Small devices (landscape phones, less than 768px)  1280 hieght*/


    .leftSide {
        width: 45vw;
        margin-left: 3vw;
        margin-bottom: 10vh;
    }

    .artSub {
        width: 35vw;
        text-align: left;
        font-size: 2.3em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
    }

    .artDesc {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artList {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artItem {
        margin-left: 3vw;
        margin-top: 2vh;
        width: 40vw;
    }

    .pad {
        padding: 4vh;
        width: 35vw;
    }

    .break {
        padding-top: 1vh;
    }

    .gallery {
        float: right;
        padding-right: 1vh;
        padding-bottom: 3vh;
        width: 45vw;
        color: #ffffff;
        margin-top: -20vh;
    }
}

@media (max-width:1024.98px) { /* big landscape tablets, laptops, and desktops  600 hieght*/
    .leftSide {
        width: 45vw;
        margin-left: 3vw;
        margin-bottom: 10vh;
    }

    .artSub {
        width: 35vw;
        text-align: left;
        font-size: 2.3em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
    }

    .artDesc {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artList {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artItem {
        margin-left: 3vw;
        margin-top: 2vh;
        width: 40vw;
    }

    .pad {
        padding: 4vh;
        width: 35vw;
    }

    .break {
        padding-top: 1vh;
    }

    .gallery {
        float: right;
        padding-right: 1vh;
        padding-bottom: 3vh;
        width: 45vw;
        color: #ffffff;
        margin-top: -20vh;
    }
}

@media (max-width: 991.98px) { /* Medium devices (tablets, less than 992px) */

    .leftSide {
        width: 45vw;
        margin-left: 3vw;
        margin-bottom: 10vh;
    }

    .artSub {
        width: 35vw;
        text-align: left;
        font-size: 2.3em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
    }

    .artDesc {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artList {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artItem {
        margin-left: 3vw;
        margin-top: 2vh;
        width: 40vw;
    }

    .pad {
        padding: 4vh;
        width: 35vw;
    }

    .break {
        padding-top: 1vh;
    }

    .gallery {
        float: right;
        padding-right: 1vh;
        padding-bottom: 3vh;
        width: 45vw;
        color: #ffffff;
        margin-top: -20vh;
    }
}

@media (max-width: 962.98px), screen and (max-height: 601.98px) {
    .leftSide {
        width: 45vw;
        margin-left: 3vw;
        margin-bottom: 10vh;
    }

    .artSub {
        width: 35vw;
        text-align: left;
        font-size: 2.3em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
    }

    .artDesc {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artList {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artItem {
        margin-left: 3vw;
        margin-top: 2vh;
        width: 40vw;
    }

    .pad {
        padding: 4vh;
        width: 35vw;
    }

    .break {
        padding-top: 1vh;
    }

    .gallery {
        float: right;
        padding-right: 1vh;
        padding-bottom: 3vh;
        width: 45vw;
        color: #ffffff;
        margin-top: -20vh;
    }
}

@media screen and (max-width:800.98px), screen and (max-height: 1280.98px) { /*Desktop ==================*/
    .leftSide {
        width: 45vw;
        margin-left: 3vw;
        margin-top: 4vh;
        margin-bottom: 10vh;
    }

    .artSub {
        width: 35vw;
        text-align: left;
        font-size: 2.3em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
    }

    .artDesc {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artList {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artItem {
        margin-left: 3vw;
        margin-top: 2vh;
        width: 40vw;
    }

    .pad {
        padding: 4vh;
        width: 35vw;
    }

    .break {
        padding-top: 1vh;
    }

    .gallery {
        float: right;
        padding-right: 1vh;
        padding-bottom: 3vh;
        width: 45vw;
        color: #ffffff;
        margin-top: -10vh;
    }
}

@media screen and (max-width:780.98px), screen and (max-height: 360.98px) and (orientation: landscape) {
    .leftSide {
        width: 45vw;
        margin-left: 3vw;
        margin-top: 4vh;
        margin-bottom: 10vh;
    }

    .artSub {
        width: 35vw;
        text-align: left;
        font-size: 2.3em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
    }

    .artDesc {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artList {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artItem {
        margin-left: 3vw;
        margin-top: 2vh;
        width: 40vw;
    }

    .pad {
        padding: 4vh;
        width: 35vw;
    }

    .break {
        padding-top: 1vh;
    }

    .gallery {
        float: right;
        padding-right: 1vh;
        padding-bottom: 3vh;
        width: 45vw;
        color: #ffffff;
        margin-top: -10vh;
    }
}

@media screen and (max-width:640.98px), screen and (max-height: 360.98px) and (orientation: landscape) {
    .leftSide {
        width: 45vw;
        margin-left: 3vw;
        margin-top: 4vh;
        margin-bottom: 10vh;
    }

    .artSub {
        width: 35vw;
        text-align: left;
        font-size: 2.3em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
    }

    .artDesc {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artList {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artItem {
        margin-left: 3vw;
        margin-top: 2vh;
        width: 40vw;
    }

    .pad {
        padding: 4vh;
        width: 35vw;
    }

    .break {
        padding-top: 1vh;
    }

    .gallery {
        float: right;
        padding-right: 1vh;
        padding-bottom: 3vh;
        width: 45vw;
        color: #ffffff;
        margin-top: -10vh;
    }

}

@media screen and (max-width:640.98px), screen and (max-height: 360.98px) and (orientation: landscape) {
    .leftSide {
        width: 45vw;
        margin-left: 3vw;
        margin-top: 4vh;
        margin-bottom: 10vh;
    }

    .artSub {
        width: 35vw;
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
    }

    .artDesc {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artList {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artItem {
        margin-left: 3vw;
        margin-top: 2vh;
        width: 40vw;
    }

    .pad {
        padding: 4vh;
        width: 95vw;
        height: 05vh
    }

    .break {
        padding-top: 1vh;
    }

    .gallery {
        float: right;
        padding-right: 1vh;
        padding-bottom: 3vh;
        height: 15vw;
        width: 35vw;
        color: #ffffff;
        margin-top: -10vh;
    }

}

/*=======================================================================================================================================================================*/
    @media (max-width:480.98px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. 800 height*/
        .leftSide {
            width: 92vw;
            padding-top: 5vh;
            margin: 0 auto;
        }

        .gallery {
            margin: 0 auto;
            padding-top: 2vh;
            padding-bottom: 2vh;
            width: 92vw;
            color: #ffffff;
            margin-left: -2vw;
        }

        .leftBottom {
            width: 92vw;
            margin-top: 4vh;
            margin: 0 auto;
        }

        .artSub {
            width: 90vw;
            text-align: left;
            font-size: 1.5em;
            font-family: 'Raleway', sans-serif;
            border-left: #3F3C3C solid 3px;
            padding-left: 2vw;
            margin-top: 0vh;
        }

        .artDesc {
            width: 90vw;
            text-align: left;
            font-size: .9em;
            font-family: 'Raleway', sans-serif;
            border-left: #3F3C3C solid 3px;
            border-bottom: #3F3C3C solid 3px;
            padding: 2vw;
        }

        .artList {
            width: 90vw;
            text-align: left;
            font-size: .9em;
            font-family: 'Raleway', sans-serif;
            padding-bottom: 2vw;
        }

        .artItem {
            margin-left: 2vw;
            margin-top: 1.5vh;
            width: 80vw;
        }

        .pad {
            padding: 1vh;
            width: 95vw;
            height: 145vh;
        }

        .break {
            padding-top: 1vh;
            padding-bottom: 1vh;
            padding-left: .5vh;
        }
    }

    @media screen and (max-width:414.98px), screen and (max-height: 896.98px) and (orientation: portrait) {
        .leftSide {
            width: 92vw;
            padding-top: 5vh;
            margin: 0 auto;
        }

        .gallery {
            margin: 0 auto;
            padding-top: 2vh;
            padding-bottom: 2vh;
            width: 92vw;
            color: #ffffff;
            margin-left: -2vw;
        }

        .leftBottom {
            width: 92vw;
            margin-top: 4vh;
            margin: 0 auto;
        }

        .artSub {
            width: 90vw;
            text-align: left;
            font-size: 1.5em;
            font-family: 'Raleway', sans-serif;
            border-left: #3F3C3C solid 3px;
            padding-left: 2vw;
            margin-top: 0vh;
        }

        .artDesc {
            width: 90vw;
            text-align: left;
            font-size: .9em;
            font-family: 'Raleway', sans-serif;
            border-left: #3F3C3C solid 3px;
            border-bottom: #3F3C3C solid 3px;
            padding: 2vw;
        }

        .artList {
            width: 90vw;
            text-align: left;
            font-size: .9em;
            font-family: 'Raleway', sans-serif;
            padding-bottom: 2vw;
        }

        .artItem {
            margin-left: 2vw;
            margin-top: 1.5vh;
            width: 80vw;
        }

        .pad {
            padding: 1vh;
            width: 95vw;
            height: 145vh;
        }

        .break {
            padding-top: 1vh;
            padding-bottom: 1vh;
            padding-left: .5vh;
        }
    }

    @media screen and (max-width:375.98px), screen and (max-height: 812.98px) and (orientation: portrait) {
        .leftSide {
            width: 92vw;
            padding-top: 5vh;
            margin: 0 auto;
        }

        .gallery {
            margin: 0 auto;
            padding-top: 2vh;
            padding-bottom: 2vh;
            width: 92vw;
            color: #ffffff;
            margin-left: -2vw;
        }

        .leftBottom {
            width: 92vw;
            margin-top: 4vh;
            margin: 0 auto;
        }

        .artSub {
            width: 90vw;
            text-align: left;
            font-size: 1.5em;
            font-family: 'Raleway', sans-serif;
            border-left: #3F3C3C solid 3px;
            padding-left: 2vw;
            margin-top: 0vh;
        }

        .artDesc {
            width: 90vw;
            text-align: left;
            font-size: .9em;
            font-family: 'Raleway', sans-serif;
            border-left: #3F3C3C solid 3px;
            border-bottom: #3F3C3C solid 3px;
            padding: 2vw;
        }

        .artList {
            width: 90vw;
            text-align: left;
            font-size: .9em;
            font-family: 'Raleway', sans-serif;
            padding-bottom: 2vw;
        }

        .artItem {
            margin-left: 2vw;
            margin-top: 1.5vh;
            width: 80vw;
        }

        .pad {
            padding: 1vh;
            width: 95vw;
            height: 145vh;
        }

        .break {
            padding-top: 1vh;
            padding-bottom: 1vh;
            padding-left: .5vh;
        }
    }

    @media screen and (max-width:360.98px), screen and (max-height: 740.98px) {

        .pad {
            padding: 1vh;
            width: 95vw;
            height: 145vh;
        }

        .break {
            padding-top: 1vh;
            padding-bottom: 1vh;
            padding-left: .5vh;
        }
    }

    @media screen and (max-width:360.98px), screen and (max-height: 780.98px) and (orientation: portrait) {
        .leftSide {
            width: 92vw;
            padding-top: 5vh;
            margin: 0 auto;
        }

        .gallery {
            margin: 0 auto;
            padding-top: 2vh;
            padding-bottom: 2vh;
            width: 92vw;
            color: #ffffff;
        }

        .leftBottom {
            width: 92vw;
            margin-top: 4vh;
            margin: 0 auto;
        }

        .artSub {
            width: 90vw;
            text-align: left;
            font-size: 1.5em;
            font-family: 'Raleway', sans-serif;
            border-left: #3F3C3C solid 3px;
            padding-left: 2vw;
            margin-top: 0vh;
        }

        .artDesc {
            width: 90vw;
            text-align: left;
            font-size: .9em;
            font-family: 'Raleway', sans-serif;
            border-left: #3F3C3C solid 3px;
            border-bottom: #3F3C3C solid 3px;
            padding: 2vw;
        }

        .artList {
            width: 90vw;
            text-align: left;
            font-size: .9em;
            font-family: 'Raleway', sans-serif;
            padding-bottom: 2vw;
        }

        .artItem {
            margin-left: 2vw;
            margin-top: 1.5vh;
            width: 80vw;
        }

        .pad {
            padding: 1vh;
            width: 95vw;
            height: 145vh;
        }

        .break {
            padding-top: 1vh;
            padding-bottom: 1vh;
            padding-left: .5vh;
        }
    }

@media screen and (max-width:360.98px), screen and (max-height: 640.98px) and (orientation: portrait) {
    .leftSide {
        width: 92vw;
        padding-top: 5vh;
        margin: 0 auto;
    }

    .gallery {
        margin: 0 auto;
        padding-top: 2vh;
        padding-bottom: 2vh;
        width: 92vw;
        color: #ffffff;
    }

    .leftBottom {
        width: 92vw;
        margin-top: 4vh;
        margin: 0 auto;
    }

    .artSub {
        width: 90vw;
        text-align: left;
        font-size: 1.5em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
        margin-top: 0vh;
    }

    .artDesc {
        width: 90vw;
        text-align: left;
        font-size: .9em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding: 2vw;
    }

    .artList {
        width: 90vw;
        text-align: left;
        font-size: .9em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 2vw;
    }

    .artItem {
        margin-left: 2vw;
        margin-top: 1.5vh;
        width: 80vw;
    }

    .pad {
        padding: 1vh;
        width: 95vw;
        height: 145vh;
    }

    .break {
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: .5vh;
    }
}
    /*=======================================================================================================================================================================*/

    @media (max-width:319.98px) { /* smartphones, iPhone, portrait 480x320 phones  480 height*/
        .leftSide {
            width: 92vw;
            padding-top: 5vh;
            margin: 0 auto;
        }

        .gallery {
            margin: 0 auto;
            padding-top: 2vh;
            padding-bottom: 2vh;
            width: 92vw;
            color: #ffffff;
        }

        .leftBottom {
            width: 92vw;
            margin-top: 4vh;
            margin: 0 auto;
        }

        .artSub {
            width: 90vw;
            text-align: left;
            font-size: 1.5em;
            font-family: 'Raleway', sans-serif;
            border-left: #3F3C3C solid 3px;
            padding-left: 2vw;
            margin-top: 0vh;
        }

        .artDesc {
            width: 90vw;
            text-align: left;
            font-size: .9em;
            font-family: 'Raleway', sans-serif;
            border-left: #3F3C3C solid 3px;
            border-bottom: #3F3C3C solid 3px;
            padding: 2vw;
        }

        .artList {
            width: 90vw;
            text-align: left;
            font-size: .9em;
            font-family: 'Raleway', sans-serif;
            padding-bottom: 2vw;
        }

        .artItem {
            margin-left: 2vw;
            margin-top: 2vh;
            width: 80vw;
        }

        .pad {
            padding: 1vh;
            width: 95vw;
            height: 145vh;
        }

        .break {
            padding-top: 1vh;
            padding-bottom: 3vh;
            padding-left: .5vh;
        }
    }
