.leftSide {
    width: 45vw;
    margin-left: 3vw;
    margin-bottom: 12vh;
    margin-top: 4vh;
    padding-top: 1vh;
}

.artSub {
    width: 35vw;
    text-align: left;
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    border-left: #3F3C3C solid 3px;
    padding-left: 2vw;
}

.subt {
    width: 70vw;
    text-align: left;
    font-size: 1.9em;
    font-family: 'Raleway', sans-serif;
    padding-left: 4vw;
}

.artDesc {
    float: left;
    width: 42vw;
    text-align: left;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    border-left: #3F3C3C solid 3px;
    border-bottom: #3F3C3C solid 3px;
    padding-bottom: 2vw;
    padding-left: 3vw;
    padding-top: 1vh;
    margin: 0;
}

.artList {
    float: left;
    width: 42vw;
    text-align: left;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 1vw;
    padding-left: 3vw;
    padding-top: 1vh;
    margin: 0;
}

.artItem {
    margin-left: 3vw;
    margin-top: 2vh;
    width: 40vw;
}


.padArt {
    padding: 5vh;
    width: 80vw;
    height: 7vh;
}

.break {
    padding-top: 1vh;
}

.gallery {
    float: right;
    padding-right: 1vh;
    padding-bottom: 3vh;
    width: 45vw;
    color: #ffffff;
    margin-top: -20vh;
}


@media (max-width: 1312px) {
    .leftSide {
        width: 45vw;
        margin-left: 3vw;
        margin-bottom: 12vh;
        margin-top: 4vh;
        padding-top: 1vh;
    }

    .artSub {
        width: 35vw;
        text-align: left;
        font-size: 1.9em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
    }

    .subt {
        width: 65vw;
        text-align: left;
        font-size: 1.9em;
        font-family: 'Raleway', sans-serif;
        padding-left: 4vw;
    }

    .artDesc {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-bottom: 2vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artList {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-size: 1em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artItem {
        margin-left: 3vw;
        margin-top: 2vh;
        width: 40vw;
    }


    .padArt {
        padding: 5vh;
        width: 80vw;
        height: 7vh;
    }

    .break {
        padding-top: 1vh;
    }

    .gallery {
        float: right;
        padding-right: 1vh;
        padding-bottom: 3vh;
        width: 50vw;
        color: #ffffff;
        margin-top: -25vh;
    }
}

@media (max-width: 1280px) {
    .leftSide {
        width: 45vw;
        margin-left: 3vw;
        margin-bottom: 12vh;
        margin-top: 4vh;
        padding-top: 1vh;
    }

    .artSub {
        width: 35vw;
        text-align: left;
        font-size: 1.9em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
    }

    .subt {
        width: 35vw;
        text-align: left;
        font-size: 1.9em;
        font-family: 'Raleway', sans-serif;
        padding-left: 4vw;
    }

    .artDesc {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-bottom: 2vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artList {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-size: 1em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artItem {
        margin-left: 3vw;
        margin-top: 2vh;
        width: 40vw;
    }


    .padArt {
        padding: 5vh;
        width: 80vw;
        height: 7vh;
    }

    .break {
        padding-top: 1vh;
    }

    .gallery {
        float: right;
        padding-right: 1vh;
        padding-bottom: 3vh;
        width: 50vw;
        color: #ffffff;
        margin-top: -27vh;
    }
}

@media screen and (max-width: 1024.98px), screen and (max-height: 768.98px) and (orientation: landscape) {
    .leftSide {
        width: 45vw;
        margin-left: 3vw;
        margin-bottom: 12vh;
        margin-top: 4vh;
        padding-top: 1vh;
    }

    .artSub {
        width: 35vw;
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
    }

    .subt {
        width: 35vw;
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        padding-left: 4vw;
    }

    .artDesc {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-bottom: 2vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artList {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artItem {
        margin-left: 3vw;
        margin-top: 2vh;
        width: 40vw;
    }


    .padArt {
        padding: 5vh;
        width: 80vw;
        height: 7vh;
    }

    .break {
        padding-top: 1vh;
    }

    .gallery {
        float: right;
        padding-right: 1vh;
        padding-bottom: 3vh;
        width: 50vw;
        color: #ffffff;
        margin-top: -20vh;
    }
}

@media (max-width: 992px) {
    .leftSide {
        width: 45vw;
        margin-left: 3vw;
        margin-bottom: 12vh;
        margin-top: 4vh;
        padding-top: 1vh;
    }

    .artSub {
        width: 35vw;
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
    }

    .subt {
        width: 35vw;
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        padding-left: 4vw;
    }

    .artDesc {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-bottom: 2vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artList {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artItem {
        margin-left: 3vw;
        margin-top: 2vh;
        width: 40vw;
    }


    .padArt {
        padding: 5vh;
        width: 80vw;
        height: 7vh;
    }

    .break {
        padding-top: 1vh;
    }

    .gallery {
        float: right;
        padding-right: 1vh;
        padding-bottom: 3vh;
        width: 50vw;
        color: #ffffff;
        margin-top: -20vh;
    }
}

@media screen and (max-width: 962.98px), screen and (max-height: 601.98px) and (orientation: landscape) {
    .leftSide {
        width: 45vw;
        margin-left: 3vw;
        margin-bottom: 12vh;
        margin-top: 4vh;
        padding-top: 1vh;
    }

    .artSub {
        width: 35vw;
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
    }

    .subt {
        width: 35vw;
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        padding-left: 4vw;
    }

    .artDesc {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-bottom: 2vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artList {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artItem {
        margin-left: 3vw;
        margin-top: 2vh;
        width: 40vw;
    }


    .padArt {
        padding: 5vh;
        width: 80vw;
        height: 15vh;
    }

    .break {
        padding-top: 1vh;
    }

    .gallery {
        float: right;
        padding-right: 1vh;
        padding-bottom: 3vh;
        width: 50vw;
        color: #ffffff;
        margin-top: -20vh;
    }
}

@media screen and (max-width:896.98px), screen and (max-height: 414.98px) and (orientation: landscape) {
    .leftSide {
        width: 45vw;
        margin-left: 3vw;
        margin-bottom: 12vh;
        margin-top: 4vh;
        padding-top: 1vh;
    }

    .artSub {
        width: 35vw;
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
    }

    .subt {
        width: 35vw;
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        padding-left: 4vw;
        padding-top: 10vh;
    }

    .artDesc {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-bottom: 2vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artList {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artItem {
        margin-left: 3vw;
        margin-top: 2vh;
        width: 40vw;
    }


    .padArt {
        padding: 5vh;
        width: 80vw;
        height: 20vh;
    }

    .break {
        padding-top: 1vh;
    }

    .gallery {
        float: right;
        padding-right: 1vh;
        padding-bottom: 3vh;
        width: 50vw;
        color: #ffffff;
        margin-top: -20vh;
    }
}

@media screen and (max-width:812.98px), screen and (max-height: 375.98px) and (orientation: landscape) {
    .leftSide {
        width: 45vw;
        margin-left: 3vw;
        margin-bottom: 12vh;
        margin-top: 4vh;
        padding-top: 1vh;
    }

    .artSub {
        width: 35vw;
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
    }

    .subt {
        width: 35vw;
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        padding-left: 4vw;
        padding-top: 20vh;
    }

    .artDesc {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-bottom: 2vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artList {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artItem {
        margin-left: 3vw;
        margin-top: 2vh;
        width: 40vw;
    }


    .padArt {
        padding: 5vh;
        width: 80vw;
        height: 20vh;
    }

    .break {
        padding-top: 1vh;
    }

    .gallery {
        float: right;
        padding-right: 1vh;
        padding-bottom: 3vh;
        width: 50vw;
        color: #ffffff;
        margin-top: -20vh;
    }
}

@media screen and (max-width:780.98px), screen and (max-height: 360.98px) and (orientation: landscape) {
    .leftSide {
        width: 45vw;
        margin-left: 3vw;
        margin-bottom: 12vh;
        margin-top: 4vh;
        padding-top: 1vh;
    }

    .artSub {
        width: 35vw;
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
    }

    .subt {
        width: 35vw;
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        padding-left: 4vw;
        padding-top: 30vh;
    }

    .artDesc {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-bottom: 2vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artList {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artItem {
        margin-left: 3vw;
        margin-top: 2vh;
        width: 40vw;
    }


    .padArt {
        padding: 5vh;
        width: 80vw;
        height: 20vh;
    }

    .break {
        padding-top: 1vh;
    }

    .gallery {
        float: right;
        padding-right: 1vh;
        padding-bottom: 3vh;
        width: 50vw;
        color: #ffffff;
        margin-top: -20vh;
    }
}

/*=======================================================================================================================================================================*/
@media screen and (max-width: 768.98px), screen and (max-height: 1024.98px) and (orientation: portrait) {
    .leftSide {
        width: 45vw;
        margin-left: 3vw;
        margin-bottom: 12vh;
        margin-top: 4vh;
        padding-top: 1vh;
    }

    .artSub {
        width: 35vw;
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
    }

    .subt {
        width: 85vw;
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        padding-left: 4vw;
        padding-top: 10vh;
    }

    .artDesc {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-bottom: 2vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artList {
        float: left;
        width: 42vw;
        text-align: left;
        font-size: 1.2em;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-top: 1vh;
        margin: 0;
    }

    .artItem {
        margin-left: 3vw;
        margin-top: 2vh;
        width: 40vw;
    }


    .padArt {
        padding: 5vh;
        width: 80vw;
        height: 10vh;
    }

    .break {
        padding-top: 1vh;
    }

    .gallery {
        float: right;
        padding-right: 1vh;
        padding-bottom: 3vh;
        width: 50vw;
        color: #ffffff;
        margin-top: -20vh;
    }
}

@media screen and (max-width: 720.98px), screen and (max-height: 1280.98px) and (orientation: portrait) {
    .leftSide {
        width: 92vw;
        padding-top: 5vh;
        margin: 0 auto;
    }

    .gallery {
        margin: 0 auto;
        padding-top: 2vh;
        padding-bottom: 2vh;
        width: 92vw;
        color: #ffffff;
    }

    .leftBottom {
        width: 92vw;
        margin-top: 4vh;
        margin: 0 auto;
    }

    .artSub {
        width: 90vw;
        text-align: left;
        font-size: 1.5em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
        margin-top: 0vh;
    }

    .artDesc {
        width: 90vw;
        text-align: left;
        font-size: .9em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding: 2vw;
    }

    .artList {
        width: 90vw;
        text-align: left;
        font-size: .9em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 2vw;
    }

    .artItem {
        margin-left: 2vw;
        margin-top: 2vh;
        width: 80vw;
    }

    .padArt {
        padding: 1vh;
        width: 96.5vw;
        height: 120vh;
        border-bottom: #3F3C3C solid 3px;
    }

    .break {
        padding-top: 1vh;
        padding-bottom: 3vh;
        padding-left: .5vh;
    }
}

@media (max-width: 688px) {
    .leftSide {
        width: 92vw;
        padding-top: 5vh;
        margin: 0 auto;
    }

    .gallery {
        margin: 0 auto;
        padding-top: 2vh;
        padding-bottom: 2vh;
        width: 92vw;
        color: #ffffff;
    }

    .leftBottom {
        width: 92vw;
        margin-top: 4vh;
        margin: 0 auto;
    }

    .artSub {
        width: 90vw;
        text-align: left;
        font-size: 1.5em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
        margin-top: 0vh;
    }

    .artDesc {
        width: 90vw;
        text-align: left;
        font-size: .9em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding: 2vw;
    }

    .artList {
        width: 90vw;
        text-align: left;
        font-size: .9em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 2vw;
    }

    .artItem {
        margin-left: 2vw;
        margin-top: 2vh;
        width: 80vw;
    }

    .padArt {
        padding: 1vh;
        width: 96.5vw;
        height: 140vh;
        border-bottom: #3F3C3C solid 3px;
    }

    .break {
        padding-top: 1vh;
        padding-bottom: 3vh;
        padding-left: .5vh;
    }
}

@media screen and (max-width: 601.98px), screen and (max-height: 962.98px) and (orientation: portrait) {
    .leftSide {
        width: 92vw;
        padding-top: 5vh;
        margin: 0 auto;
    }

    .gallery {
        margin: 0 auto;
        padding-top: 2vh;
        padding-bottom: 2vh;
        width: 92vw;
        color: #ffffff;
    }

    .leftBottom {
        width: 92vw;
        margin-top: 1vh;
        margin: 0 auto;
    }

    .artSub {
        width: 90vw;
        text-align: left;
        font-size: 1.5em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
        margin-top: 0vh;
    }

    .artDesc {
        width: 90vw;
        text-align: left;
        font-size: .9em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding: 2vw;
    }

    .artList {
        width: 90vw;
        text-align: left;
        font-size: .9em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 2vw;
    }

    .artItem {
        margin-left: 2vw;
        margin-top: 2vh;
        width: 80vw;
    }

    .padArt {
        padding: 1vh;
        width: 96.5vw;
        height: 140vh;
        border-bottom: #3F3C3C solid 3px;
    }

    .break {
        padding-top: 1vh;
        padding-bottom: 3vh;
        padding-left: .5vh;
    }
}

@media screen and (max-width:414.98px), screen and (max-height: 896.98px) and (orientation: portrait) {
    .leftSide {
        width: 92vw;
        padding-top: 5vh;
        margin: 0 auto;
    }

    .gallery {
        margin: 0 auto;
        padding-top: 2vh;
        padding-bottom: 2vh;
        width: 92vw;
        color: #ffffff;
    }

    .leftBottom {
        width: 92vw;
        margin-top: 4vh;
        margin: 0 auto;
    }

    .artSub {
        width: 90vw;
        text-align: left;
        font-size: 1.5em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
        margin-top: 0vh;
    }

    .artDesc {
        width: 90vw;
        text-align: left;
        font-size: .9em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding: 2vw;
    }

    .artList {
        width: 90vw;
        text-align: left;
        font-size: .9em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 2vw;
    }

    .artItem {
        margin-left: 2vw;
        margin-top: 2vh;
        width: 80vw;
    }

    .padArt {
        padding: 1vh;
        width: 96.5vw;
        height: 300vh;
        border-bottom: #3F3C3C solid 3px;
    }

    .break {
        padding-top: 1vh;
        padding-bottom: 3vh;
        padding-left: .5vh;
    }
}

@media screen and (max-width:375.98px), screen and (max-height: 812.98px) and (orientation: portrait) {
    .leftSide {
        width: 92vw;
        padding-top: 5vh;
        margin: 0 auto;
    }

    .gallery {
        margin: 0 auto;
        padding-top: 2vh;
        padding-bottom: 2vh;
        width: 92vw;
        color: #ffffff;
    }

    .leftBottom {
        width: 92vw;
        margin-top: 4vh;
        margin: 0 auto;
    }

    .artSub {
        width: 90vw;
        text-align: left;
        font-size: 1.5em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
        margin-top: 0vh;
    }

    .artDesc {
        width: 90vw;
        text-align: left;
        font-size: .9em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding: 2vw;
    }

    .artList {
        width: 90vw;
        text-align: left;
        font-size: .9em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 2vw;
    }

    .artItem {
        margin-left: 2vw;
        margin-top: 2vh;
        width: 80vw;
    }

    .padArt {
        padding: 1vh;
        width: 96.5vw;
        height: 300vh;
        border-bottom: #3F3C3C solid 3px;
    }

    .break {
        padding-top: 1vh;
        padding-bottom: 3vh;
        padding-left: .5vh;
    }
}

@media screen and (max-width:360.98px), screen and (max-height: 640.98px) and (orientation: portrait) {
    .leftSide {
        width: 92vw;
        padding-top: 5vh;
        margin: 0 auto;
    }

    .gallery {
        margin: 0 auto;
        padding-top: 2vh;
        padding-bottom: 2vh;
        width: 92vw;
        color: #ffffff;
    }

    .leftBottom {
        width: 92vw;
        margin-top: 4vh;
        margin: 0 auto;
    }

    .artSub {
        width: 90vw;
        text-align: left;
        font-size: 1.5em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
        margin-top: 0vh;
    }

    .artDesc {
        width: 90vw;
        text-align: left;
        font-size: .9em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding: 2vw;
    }

    .artList {
        width: 90vw;
        text-align: left;
        font-size: .9em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 2vw;
    }

    .artItem {
        margin-left: 2vw;
        margin-top: 2vh;
        width: 80vw;
    }

    .padArt {
        padding: 1vh;
        width: 96.5vw;
        height: 370vh;
        border-bottom: #3F3C3C solid 3px;
    }

    .break {
        padding-top: 1vh;
        padding-bottom: 3vh;
        padding-left: .5vh;
    }
}
/*=======================================================================================================================================================================*/

@media (max-width:320.98px) { /* smartphones, iPhone, portrait 480x320 phones  480 height*/
    .leftSide {
        width: 92vw;
        padding-top: 5vh;
        margin: 0 auto;
    }

    .gallery {
        margin: 0 auto;
        padding-top: 2vh;
        padding-bottom: 2vh;
        width: 92vw;
        color: #ffffff;
    }

    .leftBottom {
        width: 92vw;
        margin-top: 4vh;
        margin: 0 auto;
    }

    .artSub {
        width: 90vw;
        text-align: left;
        font-size: 1.5em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 2vw;
        margin-top: 0vh;
    }

    .artDesc {
        width: 90vw;
        text-align: left;
        font-size: .9em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding: 2vw;
    }

    .artList {
        width: 90vw;
        text-align: left;
        font-size: .9em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 2vw;
    }

    .artItem {
        margin-left: 2vw;
        margin-top: 2vh;
        width: 80vw;
    }

    .padArt {
        padding: 5vh;
        width: 80vw;
        height: 640vh;
    }

    .break {
        padding-top: 1vh;
        padding-bottom: 3vh;
        padding-left: .5vh;
    }
}
