.highlight {
    margin: 0 auto;
    padding-top: 2vh;
    padding-bottom: 0vh;
    width: 99%;
    z-index: 2;
    height: 80vh;
}

.subtitle {
    width: 70vw;
    text-align: left;
    font-size: 2.3em;
    font-family: 'Raleway', sans-serif;
    border-left: #3F3C3C solid 3px;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-left: 1vw;
    padding-top: 1vh;
}

.desc {
    width: 65vw;
    text-align: left;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    border-left: #3F3C3C solid 3px;
    border-bottom: #3F3C3C solid 3px;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    padding-top: 1vh;
}

p {
    padding: 0px;
    margin: 0px;
}



.sublink {
    float: right;
    padding-right: 4vw;
    font-style: italic;
    font-size: 1em;
}

.pad {
    height: 4vh;
}

@media (max-width: 1312px) {
}

@media (max-width: 1280px) {
}

@media screen and (max-width: 1024.98px), screen and (max-height: 768.98px) and (orientation: landscape) {
}

@media (max-width: 992px) {
}

@media screen and (max-width: 962.98px), screen and (max-height: 601.98px) and (orientation: landscape) {
}

@media screen and (max-width:896.98px), screen and (max-height: 414.98px) and (orientation: landscape) {
}

@media screen and (max-width:812.98px), screen and (max-height: 375.98px) and (orientation: landscape) {
}

@media screen and (max-width:780.98px), screen and (max-height: 360.98px) and (orientation: landscape) {
}

/*=======================================================================================================================================================================*/


@media screen and (max-width: 768.98px), screen and (max-height: 1024.98px) and (orientation: portrait) {
}

@media screen and (max-width: 720.98px), screen and (max-height: 1280.98px) and (orientation: portrait) {
}

@media (max-width: 688px) {
}

@media screen and (max-width: 601.98px), screen and (max-height: 962.98px) and (orientation: portrait) {
}

@media screen and (max-width:414.98px), screen and (max-height: 896.98px) and (orientation: portrait) {
}

@media screen and (max-width:375.98px), screen and (max-height: 812.98px) and (orientation: portrait) {
}

@media screen and (max-width:360.98px), screen and (max-height: 780.98px) and (orientation: portrait) {
    .highlight {
        margin: 0 auto;
        padding-top: 2vh;
        padding-bottom: 0vh;
        width: 99%;
        z-index: 2;
        height: 80vh;
    }

    .subtitle {
        width: 70vw;
        text-align: left;
        font-size: 2.3em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        margin-left: 15vw;
        margin-right: 15vw;
        padding-left: 1vw;
        padding-top: 1vh;
    }

    .desc {
        width: 65vw;
        text-align: left;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        margin-left: 15vw;
        margin-right: 15vw;
        padding-bottom: 1vw;
        padding-left: 2vw;
        padding-top: 1vh;
    }

    p {
        padding: 0px;
        margin: 0px;
    }



    .sublink {
        float: right;
        padding-right: 4vw;
        font-style: italic;
        font-size: 1em;
    }

    .pad {
        padding: 1vh;
        width: 95vw;
        height: 10vh;
    }
}
/*=======================================================================================================================================================================*/

@media (max-width:319.98px) { /* smartphones, iPhone, portrait 480x320 phones  480 height*/
    .highlight {
        margin: 0 auto;
        padding-top: 2vh;
        padding-bottom: 0vh;
        width: 99%;
        z-index: 2;
        height: 80vh;
    }

    .subtitle {
        width: 70vw;
        text-align: left;
        font-size: 2.3em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        margin-left: 15vw;
        margin-right: 15vw;
        padding-left: 1vw;
        padding-top: 1vh;
    }

    .desc {
        width: 65vw;
        text-align: left;
        font-size: 1.2em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        margin-left: 15vw;
        margin-right: 15vw;
        padding-bottom: 1vw;
        padding-left: 2vw;
        padding-top: 1vh;
    }

    p {
        padding: 0px;
        margin: 0px;
    }



    .sublink {
        float: right;
        padding-right: 4vw;
        font-style: italic;
        font-size: 1em;
    }

    .pad {
        padding: 1vh;
        width: 95vw;
        height: 10vh;
    }
}