.highlightDes {
    margin: 0 auto;
    margin-top: 4vh;
    padding-top: 1vh;
    padding-bottom: 0vh;
    width: 85vw;
    z-index: 2;
    border-bottom: #3F3C3C solid 3px;
}

.subtitleDes {
    text-align: left;
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    padding-left: 1vw;
    padding-top: 1vh;
}

.descDes {
    width: 75vw;
    text-align: left;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 1vw;
    padding-left: 2vw;
    padding-top: 1vh;
}

.logos {
    margin: 0 auto;
    width: 90vw;
}

.logoImg {
    margin: 0 auto;
    align-items: center;
    width: 18vw;
    margin: 1.5vw;
}

.albums {
    width: 90vw;
    margin: 0 auto;
}

.albumImg {
    margin: 0 auto;
    align-items: center;
    width: 22vw;
    margin: 2vw;
    margin-top: 5vh;
    border: #3F3C3C solid 1px;
    border-radius: 10px;
}

.gameart {
    width: 80vw;
    margin: 0 auto;
}

.gameImg {
    margin: 0 auto;
    width: 34vw;
    margin: 1vw;
    margin-top: 2vh;
}

@media (max-width: 1312px) {
    .highlightDes {
        margin: 0 auto;
        margin-top: 4vh;
        padding-top: 1vh;
        padding-bottom: 0vh;
        width: 90vw;
        z-index: 2;
        border-bottom: #3F3C3C solid 3px;
    }

    .subtitleDes {
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        padding-left: 1vw;
        padding-top: 1vh;
    }

    .descDes {
        width: 75vw;
        text-align: left;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 2vw;
        padding-top: 1vh;
    }

    .logos {
        margin: 0 auto;
        width: 90vw;
    }

    .logoImg {
        margin: 0 auto;
        align-items: center;
        width: 18vw;
        margin: 1.5vw;
    }

    .albums {
        width: 90vw;
        margin: 0 auto;
    }

    .albumImg {
        margin: 0 auto;
        align-items: center;
        width: 22vw;
        margin: 2vw;
        margin-top: 5vh;
        border: #3F3C3C solid 1px;
        border-radius: 10px;
    }

    .gameart {
        width: 80vw;
        margin: 0 auto;
    }

    .gameImg {
        margin: 0 auto;
        width: 34vw;
        margin: 1vw;
        margin-top: 2vh;
    }
}

@media (max-width: 1280px) {
    .highlightDes {
        margin: 0 auto;
        margin-top: 4vh;
        padding-top: 1vh;
        padding-bottom: 0vh;
        width: 90vw;
        z-index: 2;
        border-bottom: #3F3C3C solid 3px;
    }

    .subtitleDes {
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        padding-left: 1vw;
        padding-top: 1vh;
    }

    .descDes {
        width: 75vw;
        text-align: left;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 2vw;
        padding-top: 1vh;
    }

    .logos {
        margin: 0 auto;
        width: 90vw;
    }

    .logoImg {
        margin: 0 auto;
        align-items: center;
        width: 18vw;
        margin: 1.5vw;
    }

    .albums {
        width: 90vw;
        margin: 0 auto;
    }

    .albumImg {
        margin: 0 auto;
        align-items: center;
        width: 22vw;
        margin: 2vw;
        margin-top: 5vh;
        border: #3F3C3C solid 1px;
        border-radius: 10px;
    }

    .gameart {
        width: 80vw;
        margin: 0 auto;
    }

    .gameImg {
        margin: 0 auto;
        width: 34vw;
        margin: 1vw;
        margin-top: 2vh;
    }
}

@media screen and (max-width: 1024.98px), screen and (max-height: 768.98px) and (orientation: landscape) {
    .highlightDes {
        margin: 0 auto;
        margin-top: 4vh;
        padding-top: 1vh;
        padding-bottom: 0vh;
        width: 90vw;
        z-index: 2;
        border-bottom: #3F3C3C solid 3px;
    }

    .subtitleDes {
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        padding-left: 1vw;
        padding-top: 1vh;
    }

    .descDes {
        width: 75vw;
        text-align: left;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 2vw;
        padding-top: 1vh;
    }

    .logos {
        margin: 0 auto;
        width: 90vw;
    }

    .logoImg {
        margin: 0 auto;
        align-items: center;
        width: 18vw;
        margin: 1.5vw;
    }

    .albums {
        width: 90vw;
        margin: 0 auto;
    }

    .albumImg {
        margin: 0 auto;
        align-items: center;
        width: 22vw;
        margin: 2vw;
        margin-top: 5vh;
        border: #3F3C3C solid 1px;
        border-radius: 10px;
    }

    .gameart {
        width: 80vw;
        margin: 0 auto;
    }

    .gameImg {
        margin: 0 auto;
        width: 34vw;
        margin: 1vw;
        margin-top: 2vh;
    }
}

@media (max-width: 992px) {
    .highlightDes {
        margin: 0 auto;
        margin-top: 4vh;
        padding-top: 1vh;
        padding-bottom: 0vh;
        width: 90vw;
        z-index: 2;
        border-bottom: #3F3C3C solid 3px;
    }

    .subtitleDes {
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        padding-left: 1vw;
        padding-top: 1vh;
    }

    .descDes {
        width: 75vw;
        text-align: left;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 2vw;
        padding-top: 1vh;
    }

    .logos {
        margin: 0 auto;
        width: 90vw;
    }

    .logoImg {
        margin: 0 auto;
        align-items: center;
        width: 18vw;
        margin: 1.5vw;
    }

    .albums {
        width: 90vw;
        margin: 0 auto;
    }

    .albumImg {
        margin: 0 auto;
        align-items: center;
        width: 22vw;
        margin: 2vw;
        margin-top: 5vh;
        border: #3F3C3C solid 1px;
        border-radius: 10px;
    }

    .gameart {
        width: 80vw;
        margin: 0 auto;
    }

    .gameImg {
        margin: 0 auto;
        width: 34vw;
        margin: 1vw;
        margin-top: 2vh;
    }

}

@media screen and (max-width: 962.98px), screen and (max-height: 601.98px) and (orientation: landscape) {
    .highlightDes {
        margin: 0 auto;
        margin-top: 4vh;
        padding-top: 1vh;
        padding-bottom: 0vh;
        width: 90vw;
        z-index: 2;
        border-bottom: #3F3C3C solid 3px;
    }

    .subtitleDes {
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        padding-left: 1vw;
        padding-top: 1vh;
    }

    .descDes {
        width: 75vw;
        text-align: left;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 2vw;
        padding-top: 1vh;
    }

    .logos {
        margin: 0 auto;
        width: 90vw;
    }

    .logoImg {
        margin: 0 auto;
        align-items: center;
        width: 18vw;
        margin: 1.5vw;
    }

    .albums {
        width: 90vw;
        margin: 0 auto;
    }

    .albumImg {
        margin: 0 auto;
        align-items: center;
        width: 22vw;
        margin: 2vw;
        margin-top: 5vh;
        border: #3F3C3C solid 1px;
        border-radius: 10px;
    }

    .gameart {
        width: 80vw;
        margin: 0 auto;
    }

    .gameImg {
        margin: 0 auto;
        width: 34vw;
        margin: 1vw;
        margin-top: 2vh;
    }

    .padDes {
        padding: 5vh;
        width: 70vw;
        height: 10vh;
    }
}

@media screen and (max-width:896.98px), screen and (max-height: 414.98px) and (orientation: landscape) {
    .highlightDes {
        margin: 0 auto;
        margin-top: 4vh;
        padding-top: 1vh;
        padding-bottom: 0vh;
        width: 90vw;
        z-index: 2;
        border-bottom: #3F3C3C solid 3px;
    }

    .subtitleDes {
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        padding-left: 1vw;
        padding-top: 1vh;
    }

    .descDes {
        width: 75vw;
        text-align: left;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 2vw;
        padding-top: 1vh;
    }

    .logos {
        margin: 0 auto;
        width: 90vw;
    }

    .logoImg {
        margin: 0 auto;
        align-items: center;
        width: 18vw;
        margin: 1.5vw;
    }

    .albums {
        width: 90vw;
        margin: 0 auto;
    }

    .albumImg {
        margin: 0 auto;
        align-items: center;
        width: 22vw;
        margin: 2vw;
        margin-top: 5vh;
        border: #3F3C3C solid 1px;
        border-radius: 10px;
    }

    .gameart {
        width: 80vw;
        margin: 0 auto;
    }

    .gameImg {
        margin: 0 auto;
        width: 34vw;
        margin: 1vw;
        margin-top: 2vh;
    }

    .padDes {
        padding: 5vh;
        width: 70vw;
        height: 10vh;
    }
}

@media screen and (max-width:812.98px), screen and (max-height: 375.98px) and (orientation: landscape) {
     .highlightDes {
        margin: 0 auto;
        margin-top: 4vh;
        padding-top: 1vh;
        padding-bottom: 0vh;
        width: 90vw;
        z-index: 2;
        border-bottom: #3F3C3C solid 3px;
    }

    .subtitleDes {
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        padding-left: 1vw;
        padding-top: 1vh;
    }

    .descDes {
        width: 75vw;
        text-align: left;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 2vw;
        padding-top: 1vh;
    }

    .logos {
        margin: 0 auto;
        width: 90vw;
    }

    .logoImg {
        margin: 0 auto;
        align-items: center;
        width: 18vw;
        margin: 1.5vw;
    }

    .albums {
        width: 90vw;
        margin: 0 auto;
    }

    .albumImg {
        margin: 0 auto;
        align-items: center;
        width: 22vw;
        margin: 2vw;
        margin-top: 5vh;
        border: #3F3C3C solid 1px;
        border-radius: 10px;
    }

    .gameart {
        width: 80vw;
        margin: 0 auto;
    }

    .gameImg {
        margin: 0 auto;
        width: 34vw;
        margin: 1vw;
        margin-top: 2vh;
    }

    .padDes {
        padding: 5vh;
        width: 70vw;
        height: 10vh;
    }
}

@media screen and (max-width:780.98px), screen and (max-height: 360.98px) and (orientation: landscape) {
    .highlightDes {
        margin: 0 auto;
        margin-top: 4vh;
        padding-top: 1vh;
        padding-bottom: 0vh;
        width: 90vw;
        z-index: 2;
        border-bottom: #3F3C3C solid 3px;
    }

    .subtitleDes {
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        padding-left: 1vw;
        padding-top: 1vh;
    }

    .descDes {
        width: 75vw;
        text-align: left;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 2vw;
        padding-top: 1vh;
    }

    .logos {
        margin: 0 auto;
        width: 90vw;
    }

    .logoImg {
        margin: 0 auto;
        align-items: center;
        width: 18vw;
        margin: 1.5vw;
    }

    .albums {
        width: 90vw;
        margin: 0 auto;
    }

    .albumImg {
        margin: 0 auto;
        align-items: center;
        width: 22vw;
        margin: 2vw;
        margin-top: 5vh;
        border: #3F3C3C solid 1px;
        border-radius: 10px;
    }

    .gameart {
        width: 90vw;
        margin: 0 auto;
    }

    .gameImg {
        margin: 0 auto;
        width: 34vw;
        margin: 1vw;
        margin-top: 2vh;
    }

    .padDes {
        padding: 5vh;
        width: 70vw;
        height: 10vh;
    }
}

/*=======================================================================================================================================================================*/


@media screen and (max-width: 768.98px), screen and (max-height: 1024.98px) and (orientation: portrait) {
    .highlightDes {
        margin: 0 auto;
        margin-top: 4vh;
        padding-top: 1vh;
        padding-bottom: 0vh;
        width: 90vw;
        z-index: 2;
        border-bottom: #3F3C3C solid 3px;
    }

    .subtitleDes {
        text-align: left;
        font-size: 1.4em;
        font-family: 'Raleway', sans-serif;
        padding-left: 1vw;
        padding-top: 1vh;
    }

    .descDes {
        width: 75vw;
        text-align: left;
        font-size: 0.9em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 2vw;
        padding-top: 1vh;
    }

    .logos {
        margin: 0 auto;
        width: 90vw;
    }

    .logoImg {
        margin: 0 auto;
        align-items: center;
        width: 20vw;
        margin: 1.5vw;
    }

    .albums {
        width: 90vw;
        margin: 0 auto;
    }

    .albumImg {
        margin: 0 auto;
        align-items: center;
        width: 26vw;
        margin: 2vw;
        margin-top: 5vh;
        border: #3F3C3C solid 1px;
        border-radius: 10px;
    }

    .gameart {
        width: 80vw;
        margin: 0 auto;
    }

    .gameImg {
        margin: 0 auto;
        width: 38vw;
        margin: 1vw;
        margin-top: 2vh;
    }

    .padDes {
        padding: 5vh;
        width: 70vw;
        height: 3vh;
    }
}

@media screen and (max-width: 720.98px), screen and (max-height: 1280.98px) and (orientation: portrait) {
    .highlightDes {
        margin: 0 auto;
        margin-top: 4vh;
        padding-top: 1vh;
        padding-bottom: 0vh;
        width: 90vw;
        z-index: 2;
        border-bottom: #3F3C3C solid 3px;
    }

    .subtitleDes {
        text-align: left;
        font-size: 2.3em;
        font-family: 'Raleway', sans-serif;
        padding-left: 1vw;
        padding-top: 1vh;
    }

    .descDes {
        width: 75vw;
        text-align: left;
        font-size: 1.4em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 2vw;
        padding-top: 1vh;
    }

    .logos {
        margin: 0 auto;
        width: 90vw;
    }

    .logoImg {
        margin: 0 auto;
        align-items: center;
        width: 40vw;
        margin: 1.5vw;
    }

    .albums {
        width: 90vw;
        margin: 0 auto;
    }

    .albumImg {
        margin: 0 auto;
        align-items: center;
        width: 85vw;
        margin: 2vw;
        margin-top: 5vh;
        border: #3F3C3C solid 1px;
        border-radius: 10px;
    }

    .gameart {
        width: 95vw;
        margin: 0 auto;
    }

    .gameImg {
        margin: 0 auto;
        width: 80vw;
        margin: 1vw;
        margin-top: 2vh;
    }

    .padDes {
        padding: 5vh;
        width: 70vw;
        height: 4vh;
    }
}

@media (max-width: 688px) {
    .highlightDes {
        margin: 0 auto;
        margin-top: 4vh;
        padding-top: 1vh;
        padding-bottom: 0vh;
        width: 90vw;
        z-index: 2;
        border-bottom: #3F3C3C solid 3px;
    }

    .subtitleDes {
        text-align: left;
        font-size: 1.4em;
        font-family: 'Raleway', sans-serif;
        padding-left: 1vw;
        padding-top: 1vh;
    }

    .descDes {
        width: 75vw;
        text-align: left;
        font-size: 0.9em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 2vw;
        padding-top: 1vh;
    }

    .logos {
        margin: 0 auto;
        width: 90vw;
    }

    .logoImg {
        margin: 0 auto;
        align-items: center;
        width: 20vw;
        margin: 1.5vw;
    }

    .albums {
        width: 90vw;
        margin: 0 auto;
    }

    .albumImg {
        margin: 0 auto;
        align-items: center;
        width: 26vw;
        margin: 2vw;
        margin-top: 5vh;
        border: #3F3C3C solid 1px;
        border-radius: 10px;
    }

    .gameart {
        width: 80vw;
        margin: 0 auto;
    }

    .gameImg {
        margin: 0 auto;
        width: 38vw;
        margin: 1vw;
        margin-top: 2vh;
    }

    .padDes {
        padding: 5vh;
        width: 70vw;
        height: 3vh;
    }
}

@media screen and (max-width: 601.98px), screen and (max-height: 962.98px) and (orientation: portrait) {
    .highlightDes {
        margin: 0 auto;
        margin-top: 4vh;
        padding-top: 1vh;
        padding-bottom: 0vh;
        width: 90vw;
        z-index: 2;
        border-bottom: #3F3C3C solid 3px;
    }

    .subtitleDes {
        text-align: left;
        font-size: 1.4em;
        font-family: 'Raleway', sans-serif;
        padding-left: 1vw;
        padding-top: 1vh;
    }

    .descDes {
        width: 75vw;
        text-align: left;
        font-size: 0.9em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 2vw;
        padding-top: 1vh;
    }

    .logos {
        margin: 0 auto;
        width: 90vw;
    }

    .logoImg {
        margin: 0 auto;
        align-items: center;
        width: 20vw;
        margin: 1.5vw;
    }

    .albums {
        width: 90vw;
        margin: 0 auto;
    }

    .albumImg {
        margin: 0 auto;
        align-items: center;
        width: 26vw;
        margin: 2vw;
        margin-top: 5vh;
        border: #3F3C3C solid 1px;
        border-radius: 10px;
    }

    .gameart {
        width: 80vw;
        margin: 0 auto;
    }

    .gameImg {
        margin: 0 auto;
        width: 38vw;
        margin: 1vw;
        margin-top: 2vh;
    }

    .padDes {
        padding: 5vh;
        width: 70vw;
        height: 3vh;
    }
}

@media screen and (max-width:414.98px), screen and (max-height: 896.98px) and (orientation: portrait) {
    .highlightDes {
        margin: 0 auto;
        margin-top: 4vh;
        padding-top: 1vh;
        padding-bottom: 0vh;
        width: 90vw;
        z-index: 2;
        border-bottom: #3F3C3C solid 3px;
    }

    .subtitleDes {
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        padding-left: 1vw;
        padding-top: 1vh;
    }

    .descDes {
        width: 75vw;
        text-align: left;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 2vw;
        padding-top: 1vh;
    }

    .logos {
        margin: 0 auto;
        width: 90vw;
    }

    .logoImg {
        margin: 0 auto;
        align-items: center;
        width: 40vw;
        margin: 1.5vw;
    }

    .albums {
        width: 90vw;
        margin: 0 auto;
    }

    .albumImg {
        margin: 0 auto;
        align-items: center;
        width: 85vw;
        margin: 2vw;
        margin-top: 5vh;
        border: #3F3C3C solid 1px;
        border-radius: 10px;
    }

    .gameart {
        width: 95vw;
        margin: 0 auto;
    }

    .gameImg {
        margin: 0 auto;
        width: 80vw;
        margin: 1vw;
        margin-top: 2vh;
    }

    .padDes {
        padding: 5vh;
        width: 70vw;
        height: 4vh;
    }
}

@media screen and (max-width:375.98px), screen and (max-height: 812.98px) and (orientation: portrait) {
    .highlightDes {
        margin: 0 auto;
        margin-top: 4vh;
        padding-top: 1vh;
        padding-bottom: 0vh;
        width: 90vw;
        z-index: 2;
        border-bottom: #3F3C3C solid 3px;
    }

    .subtitleDes {
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        padding-left: 1vw;
        padding-top: 1vh;
    }

    .descDes {
        width: 75vw;
        text-align: left;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 2vw;
        padding-top: 1vh;
    }

    .logos {
        margin: 0 auto;
        width: 90vw;
    }

    .logoImg {
        margin: 0 auto;
        align-items: center;
        width: 40vw;
        margin: 1.5vw;
    }

    .albums {
        width: 90vw;
        margin: 0 auto;
    }

    .albumImg {
        margin: 0 auto;
        align-items: center;
        width: 85vw;
        margin: 2vw;
        margin-top: 5vh;
        border: #3F3C3C solid 1px;
        border-radius: 10px;
    }

    .gameart {
        width: 95vw;
        margin: 0 auto;
    }

    .gameImg {
        margin: 0 auto;
        width: 80vw;
        margin: 1vw;
        margin-top: 2vh;
    }

    .padDes {
        padding: 5vh;
        width: 70vw;
        height: 4vh;
    }
}

@media screen and (max-width:360.98px), screen and (max-height: 780.98px) and (orientation: portrait) {
    .highlightDes {
        margin: 0 auto;
        margin-top: 4vh;
        padding-top: 1vh;
        padding-bottom: 0vh;
        width: 90vw;
        z-index: 2;
        border-bottom: #3F3C3C solid 3px;
    }

    .subtitleDes {
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        padding-left: 1vw;
        padding-top: 1vh;
    }

    .descDes {
        width: 75vw;
        text-align: left;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 2vw;
        padding-top: 1vh;
    }

    .logos {
        margin: 0 auto;
        width: 90vw;
    }

    .logoImg {
        margin: 0 auto;
        align-items: center;
        width: 40vw;
        margin: 1.5vw;
    }

    .albums {
        width: 90vw;
        margin: 0 auto;
    }

    .albumImg {
        margin: 0 auto;
        align-items: center;
        width: 85vw;
        margin: 2vw;
        margin-top: 5vh;
        border: #3F3C3C solid 1px;
        border-radius: 10px;
    }

    .gameart {
        width: 90vw;
        margin: 0 auto;
    }

    .gameImg {
        margin: 0 auto;
        width: 80vw;
        margin: 1vw;
        margin-top: 2vh;
    }

    .padDes {
        padding: 5vh;
        width: 70vw;
        height: 4vh;
    }
}
/*=======================================================================================================================================================================*/

@media (max-width:320.98px) { /* smartphones, iPhone, portrait 480x320 phones  480 height*/
    .highlightDes {
        margin: 0 auto;
        margin-top: 4vh;
        padding-top: 1vh;
        padding-bottom: 0vh;
        width: 90vw;
        z-index: 2;
        border-bottom: #3F3C3C solid 3px;
    }

    .subtitleDes {
        text-align: left;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        padding-left: 1vw;
        padding-top: 1vh;
    }

    .descDes {
        width: 75vw;
        text-align: left;
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1vw;
        padding-left: 2vw;
        padding-top: 1vh;
    }

    .logos {
        margin: 0 auto;
        width: 90vw;
    }

    .logoImg {
        margin: 0 auto;
        align-items: center;
        width: 40vw;
        margin: 1.5vw;
    }

    .albums {
        width: 90vw;
        margin: 0 auto;
    }

    .albumImg {
        margin: 0 auto;
        align-items: center;
        width: 85vw;
        margin: 2vw;
        margin-top: 5vh;
        border: #3F3C3C solid 1px;
        border-radius: 10px;
    }

    .gameart {
        width: 90vw;
        margin: 0 auto;
    }

    .gameImg {
        margin: 0 auto;
        width: 80vw;
        margin: 1vw;
        margin-top: 2vh;
    }

    .padDes {
        padding: 5vh;
        width: 70vw;
        height: 4vh;
    }
}