
.mainMessage {
    margin: 0 auto;
    width: 35vw;
    font-weight: 600;
    font-size: 1.4em;
}

#maintitle {
    margin: auto;
    padding-top: 22vh;
    padding-bottom: 20vh;
    width: 55vw;
    z-index: 2;
}

#topic {
    color: white;
    text-align: left;
    font-size: 3.9em;
    font-family: 'Raleway', sans-serif;
    border-left: white solid 3px;
    border-bottom: white solid 3px;
    padding-left: 1vw;
    padding-bottom: 1vw;
    filter: drop-shadow(-4px 4px 0px #151515);
}


#studio {
    text-align: left;
    font-size: 3.9em;
    font-family: 'Raleway', sans-serif;
    border-left: #3F3C3C solid 3px;
    padding-left: 1vw;
}

#occupation {
    text-align: left;
    font-size: 2.2em;
    border-left: #3F3C3C solid 3px;
    border-bottom: #3F3C3C solid 3px;
    padding-left: 1.2vw;
    padding-bottom: 1vw;
    font-family: 'Muli', sans-serif;
}

p {
    padding: 0px;
    margin: 0px;
}

.container {
    background-image: url(/images/banner-temp.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 60vh;
}

.desBanner {
    background-image: url(/images/banner-des1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 60vh;
}

.faBanner {
    background-image: url(/images/banner-fa1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 60vh;
}

.devBanner {
    background-image: url(/images/banner-dev1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 60vh;
}

.sublink {
    float: right;
    padding-right: 4vw;
    font-style: italic;
    font-size: 1em;
}

    .sublink:link {
        color: #3F3C3C;
        text-decoration: none;
    }

    .sublink:visited {
        color: #3F3C3C;
    }

    .sublink:hover {
        text-decoration: underline;
        text-decoration-color: #3F3C3C;
    }

    .sublink:active {
        text-decoration: underline;
        text-decoration-color: #3F3C3C;
    }
/*=======================================================================================================================================================================*/
/*=======================================================================================================================================================================*/
/*=======================================================================================================================================================================*/
/*=======================================================================================================================================================================*/
/*=======================================================================================================================================================================*/

@media (min-width: 1313px) {
    #maintitle {
        margin: auto;
        padding-top: 17vh;
        padding-bottom: 10vh;
        width: 40vw;
        z-index: 2;
    }

    #topic {
        text-align: left;
        font-size: 2.9em;
        font-family: 'Raleway', sans-serif;
        border-left: white solid 3px;
        border-bottom: white solid 3px;
        padding-left: 1vw;
        padding-bottom: 1vw;
    }

    #studio {
        text-align: left;
        font-size: 2.9em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 1vw;
    }

    #occupation {
        text-align: left;
        font-size: 1.4em;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-left: 1.2vw;
        padding-bottom: 1vw;
        font-family: 'Muli', sans-serif;
    }

    .container {
        background-image: url(/images/banner-temp.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .desBanner {
        background-image: url(/images/banner-des1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .faBanner {
        background-image: url(/images/banner-fa1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .devBanner {
        background-image: url(/images/banner-dev1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }
}

@media (max-width: 1281px) {

    #maintitle {
        margin: auto;
        padding-top: 22vh;
        padding-bottom: 10vh;
        width: 40vw;
        z-index: 2;
    }

    #topic {
        text-align: left;
        font-size: 2.9em;
        font-family: 'Raleway', sans-serif;
        border-left: white solid 3px;
        border-bottom: white solid 3px;
        padding-left: 1vw;
        padding-bottom: 1vw;
    }

    #studio {
        text-align: left;
        font-size: 2.9em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 1vw;
    }

    #occupation {
        text-align: left;
        font-size: 1.4em;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-left: 1.2vw;
        padding-bottom: 1vw;
        font-family: 'Muli', sans-serif;
    }

    .container {
        background-image: url(/images/banner-temp.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
    }

    .desBanner {
        background-image: url(/images/banner-des1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
    }

    .faBanner {
        background-image: url(/images/banner-fa1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
    }

    .devBanner {
        background-image: url(/images/banner-dev1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
    }
}

/*=======================================================================================================================================================================*/
/*=======================================================================================================================================================================*/

@media screen and (max-width: 1024.98px), screen and (max-height: 768.98px) and (orientation: landscape) {
    #maintitle {
        margin: auto;
        padding-top: 17vh;
        padding-bottom: 10vh;
        width: 50vw;
        z-index: 2;
    }

    #topic {
        text-align: left;
        font-size: 2.0em;
        font-family: 'Raleway', sans-serif;
        border-left: white solid 3px;
        border-bottom: white solid 3px;
        padding-left: 1vw;
        padding-bottom: 1vw;
    }

    #studio {
        text-align: left;
        font-size: 1.8em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 1vw;
    }

    #occupation {
        text-align: left;
        font-size: .9em;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-left: 1.2vw;
        padding-bottom: 1vw;
        font-family: 'Muli', sans-serif;
    }

    .container {
        background-image: url(/images/banner-temp.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .desBanner {
        background-image: url(/images/banner-des1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .faBanner {
        background-image: url(/images/banner-fa1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .devBanner {
        background-image: url(/images/banner-dev1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }
}

@media screen and (max-width: 962.98px), screen and (max-height: 601.98px) and (orientation: landscape) {
    #maintitle {
        margin: auto;
        padding-top: 17vh;
        padding-bottom: 10vh;
        width: 60vw;
        z-index: 2;
    }

    #topic {
        text-align: left;
        font-size: 2.0em;
        font-family: 'Raleway', sans-serif;
        border-left: white solid 3px;
        border-bottom: white solid 3px;
        padding-left: 1vw;
        padding-bottom: 1vw;
    }

    #studio {
        text-align: left;
        font-size: 1.8em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 1vw;
    }

    #occupation {
        text-align: left;
        font-size: .9em;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-left: 1.2vw;
        padding-bottom: 1vw;
        font-family: 'Muli', sans-serif;
    }

    .container {
        background-image: url(/images/banner-temp.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .desBanner {
        background-image: url(/images/banner-des1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .faBanner {
        background-image: url(/images/banner-fa1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .devBanner {
        background-image: url(/images/banner-dev1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }
}


@media screen and (max-width:896.98px), screen and (max-height: 414.98px) and (orientation: landscape) {

    #maintitle {
        margin: auto;
        padding-top: 16vh;
        padding-bottom: 10vh;
        width: 50vw;
        z-index: 2;
    }

    #topic {
        text-align: left;
        font-size: 2.0em;
        font-family: 'Raleway', sans-serif;
        border-left: white solid 3px;
        border-bottom: white solid 3px;
        padding-left: 1vw;
        padding-bottom: 1vw;
    }

    #studio {
        text-align: left;
        font-size: 1.8em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 1vw;
    }

    #occupation {
        text-align: left;
        font-size: .9em;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-left: 1.2vw;
        padding-bottom: 1vw;
        font-family: 'Muli', sans-serif;
    }

    .container {
        background-image: url(/images/banner-temp.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .desBanner {
        background-image: url(/images/banner-des1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .faBanner {
        background-image: url(/images/banner-fa1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .devBanner {
        background-image: url(/images/banner-dev1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }
}


@media screen and (max-width:812.98px), screen and (max-height: 375.98px) and (orientation: landscape) {
    #maintitle {
        margin: auto;
        padding-top: 17vh;
        padding-bottom: 10vh;
        width: 60vw;
        z-index: 2;
    }

    #topic {
        text-align: left;
        font-size: 2.0em;
        font-family: 'Raleway', sans-serif;
        border-left: white solid 3px;
        border-bottom: white solid 3px;
        padding-left: 1vw;
        padding-bottom: 1vw;
    }

    #studio {
        text-align: left;
        font-size: 1.8em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 1vw;
    }

    #occupation {
        text-align: left;
        font-size: .9em;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-left: 1.2vw;
        padding-bottom: 1vw;
        font-family: 'Muli', sans-serif;
    }

    .container {
        background-image: url(/images/banner-temp.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .desBanner {
        background-image: url(/images/banner-des1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .faBanner {
        background-image: url(/images/banner-fa1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .devBanner {
        background-image: url(/images/banner-dev1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }
}


@media screen and (max-width:780.98px), screen and (max-height: 360.98px) and (orientation: landscape) {
    #maintitle {
        margin: auto;
        padding-top: 17vh;
        padding-bottom: 10vh;
        width: 60vw;
        z-index: 2;
    }

    #topic {
        text-align: left;
        font-size: 1.7em;
        font-family: 'Raleway', sans-serif;
        border-left: white solid 3px;
        border-bottom: white solid 3px;
        padding-left: 1vw;
        padding-bottom: 1vw;
    }

    #studio {
        text-align: left;
        font-size: 1.8em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 1vw;
    }

    #occupation {
        text-align: left;
        font-size: .9em;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-left: 1.2vw;
        padding-bottom: 1vw;
        font-family: 'Muli', sans-serif;
    }

    .container {
        background-image: url(/images/banner-temp.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .desBanner {
        background-image: url(/images/banner-des1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .faBanner {
        background-image: url(/images/banner-fa1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
    }

    .devBanner {
        background-image: url(/images/banner-dev1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }
}

@media screen and (max-width:640.98px), screen and (max-height: 360.98px) and (orientation: landscape) {
    #maintitle {
        margin: auto;
        padding-top: 17vh;
        padding-bottom: 10vh;
        width: 60vw;
        z-index: 2;
    }

    #topic {
        text-align: left;
        font-size: 1.6em;
        font-family: 'Raleway', sans-serif;
        border-left: white solid 3px;
        border-bottom: white solid 3px;
        padding-left: 1vw;
        padding-bottom: 1vw;
    }

    #studio {
        text-align: left;
        font-size: 1.8em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 1vw;
    }

    #occupation {
        text-align: left;
        font-size: .9em;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-left: 1.2vw;
        padding-bottom: 1vw;
        font-family: 'Muli', sans-serif;
    }

    .container {
        background-image: url(/images/banner-temp.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .desBanner {
        background-image: url(/images/banner-des1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .faBanner {
        background-image: url(/images/banner-fa1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .devBanner {
        background-image: url(/images/banner-dev1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }
}

/*=======================================================================================================================================================================*/

@media (max-width:614.98px) {
    #maintitle {
        margin: auto;
        padding-top: 15vh;
        padding-bottom: 10vh;
        width: 80vw;
        z-index: 2;
    }

    #topic {
        text-align: left;
        font-size: 1.8em;
        font-family: 'Raleway', sans-serif;
        border-left: white solid 3px;
        border-bottom: white solid 3px;
        padding-left: 1vw;
        padding-bottom: 1vw;
    }

    #studio {
        text-align: left;
        font-size: 1.8em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 1vw;
    }

    #occupation {
        text-align: left;
        font-size: .9em;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-left: 1.2vw;
        padding-bottom: 1vw;
        font-family: 'Muli', sans-serif;
    }

    .container {
        background-image: url(/images/banner-temp.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;
    }

    .desBanner {
        background-image: url(/images/banner-des1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;
    }

    .faBanner {
        background-image: url(/images/banner-fa1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;
    }

    .devBanner {
        background-image: url(/images/banner-dev1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;
    }
}

@media screen and (max-width:414.98px), screen and (max-height: 896.98px) and (orientation: portrait) {
    #maintitle {
        margin: auto;
        padding-top: 15vh;
        padding-bottom: 10vh;
        width: 80vw;
        z-index: 2;
    }

    #topic {
        text-align: left;
        font-size: 1.8em;
        font-family: 'Raleway', sans-serif;
        border-left: white solid 3px;
        border-bottom: white solid 3px;
        padding-left: 1vw;
        padding-bottom: 1vw;
    }

    #studio {
        text-align: left;
        font-size: 1.8em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 1vw;
    }

    #occupation {
        text-align: left;
        font-size: .9em;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-left: 1.2vw;
        padding-bottom: 1vw;
        font-family: 'Muli', sans-serif;
    }

    .container {
        background-image: url(/images/banner-temp.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;
    }

    .desBanner {
        background-image: url(/images/banner-des1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;
    }

    .faBanner {
        background-image: url(/images/banner-fa1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;
    }

    .devBanner {
        background-image: url(/images/banner-dev1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;
    }
}


@media screen and (max-width:360.98px), screen and (max-height: 740.98px) and (orientation: portrait) {

    #maintitle {
        margin: auto;
        padding-top: 15vh;
        padding-bottom: 10vh;
        width: 80vw;
        z-index: 2;
    }

    #topic {
        text-align: left;
        font-size: 2.0em;
        font-family: 'Raleway', sans-serif;
        border-left: white solid 3px;
        border-bottom: white solid 3px;
        padding-left: 1vw;
        padding-bottom: 1vw;
    }

    #studio {
        text-align: left;
        font-size: 1.8em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 1vw;
    }

    #occupation {
        text-align: left;
        font-size: .9em;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-left: 1.2vw;
        padding-bottom: 1vw;
        font-family: 'Muli', sans-serif;
    }

    .container {
        background-image: url(/images/banner-temp.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;
    }

    .desBanner {
        background-image: url(/images/banner-des1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;
    }

    .faBanner {
        background-image: url(/images/banner-fa1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;
    }

    .devBanner {
        background-image: url(/images/banner-dev1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;
    }
}

@media screen and (max-width:360.98px), screen and (max-height: 640.98px) and (orientation: portrait) {

    #maintitle {
        margin: auto;
        padding-top: 15.5vh;
        padding-bottom: 10vh;
        width: 80vw;
        z-index: 2;
    }

    #topic {
        text-align: left;
        font-size: 1.6em;
        font-family: 'Raleway', sans-serif;
        border-left: white solid 3px;
        border-bottom: white solid 3px;
        padding-left: 1vw;
        padding-bottom: 1vw;
    }

    #studio {
        text-align: left;
        font-size: 1.6em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 1vw;
    }

    #occupation {
        text-align: left;
        font-size: .9em;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-left: 1.2vw;
        padding-bottom: 1vw;
        font-family: 'Muli', sans-serif;
    }

    .container {
        background-image: url(/images/banner-temp.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 33vh;
    }

    .desBanner {
        background-image: url(/images/banner-des1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 33vh;
    }

    .faBanner {
        background-image: url(/images/banner-fa1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 33vh;
    }

    .devBanner {
        background-image: url(/images/banner-dev1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 33vh;
    }
}
/*=======================================================================================================================================================================*/

@media (max-width:319.98px) { /* smartphones, iPhone, portrait 480x320 phones  480 height*/

    #maintitle {
        margin: auto;
        padding-top: 20vh;
        padding-bottom: 10vh;
        width: 90vw;
        z-index: 2;
    }

    #topic {
        text-align: left;
        font-size: 1.5em;
        font-family: 'Raleway', sans-serif;
        border-left: white solid 3px;
        border-bottom: white solid 3px;
        padding-left: 1vw;
        padding-bottom: 1vw;
    }

    #studio {
        text-align: left;
        font-size: 1.4em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 1vw;
    }

    #occupation {
        text-align: left;
        font-size: .9em;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-left: 1.2vw;
        padding-bottom: 1vw;
        font-family: 'Muli', sans-serif;
    }

    .container {
        background-image: url(/images/banner-temp.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .desBanner {
        background-image: url(/images/banner-des1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .faBanner {
        background-image: url(/images/banner-fa1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .devBanner {
        background-image: url(/images/banner-dev1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }
}
