#maintitle {
    margin: auto;
    padding-top: 17vh;
    width: 35vw;
    z-index: 2;
}

#pagetitle {
    padding-left: 2vw;
    padding-top: 12vh;
    padding-bottom: 3vh;
    width: 45vw;
    z-index: 2;
}

#topic {
    text-align: left;
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    border-left: black solid 3px;
    border-bottom: black solid 3px;
    padding-left: 1vw;
    padding-bottom: 1vw;
}


#studio {
    text-align: left;
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    border-left: #3F3C3C solid 3px;
    padding-left: 1vw;
}

#occupation {
    text-align: left;
    font-size: 1.5em;
    border-left: #3F3C3C solid 3px;
    border-bottom: #3F3C3C solid 3px;
    padding-left: 1.2vw;
    padding-bottom: 1vw;
    font-family: 'Muli', sans-serif;
}

.sublink {
    float: right;
    padding-right: 4vw;
    font-style: italic;
    font-size: 1em;
    margin-top: 1em;
}

    .sublink:link {
        color: #3F3C3C;
        text-decoration: underline;
    }

    .sublink:visited {
        color: #3F3C3C;
    }

    .sublink:hover {
        text-decoration: underline;
        text-decoration-color: #3F3C3C;
    }

    .sublink:active {
        text-decoration: underline;
        text-decoration-color: #3F3C3C;
    }

