#maintitle {
    margin: auto;
    padding-top: 22vh;
    padding-bottom: 20vh;
    width: 65vw;
    z-index: 2;
}

#studio {
    text-align: left;
    font-size: 3.9em;
    font-family: 'Raleway', sans-serif;
    border-left: #3F3C3C solid 3px;
    padding-left: 1vw;

}

#occupation {
    text-align: left;
    font-size: 2.2em;
    border-left: #3F3C3C solid 3px;
    border-bottom: #3F3C3C solid 3px;
    padding-left: 1.2vw;
    padding-bottom: 1vw;
    font-family: 'Muli', sans-serif;
}

p {
    padding: 0px;
    margin: 0px;
}
.container {
    background-image: url(/images/banner-temp.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 60vh;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    #maintitle {
        margin: auto;
        padding-top: 20vh;
        padding-bottom: 10vh;
        width: 75vw;
        z-index: 2;
    }

    #studio {
        text-align: left;
        font-size: 1.8em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 1vw;
    }

    #occupation {
        text-align: left;
        font-size: 1.1em;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-left: 1.2vw;
        padding-bottom: 1vw;
        font-family: 'Muli', sans-serif;
    }

    p {
        padding: 0px;
        margin: 0px;
    }

    .container {
        background-image: url(/images/banner-temp.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }
}

@media (max-width: 575.98px) {

    #maintitle {
        margin: auto;
        padding-top: 20vh;
        padding-bottom: 10vh;
        width: 75vw;
        z-index: 2;
    }

    #studio {
        text-align: left;
        font-size: 1.8em;
        font-family: 'Raleway', sans-serif;
        border-left: #3F3C3C solid 3px;
        padding-left: 1vw;
    }

    #occupation {
        text-align: left;
        font-size: 1.1em;
        border-left: #3F3C3C solid 3px;
        border-bottom: #3F3C3C solid 3px;
        padding-left: 1.2vw;
        padding-bottom: 1vw;
        font-family: 'Muli', sans-serif;
    }

    p {
        padding: 0px;
        margin: 0px;
    }

    .container {
        background-image: url(/images/banner-temp.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }
}



