
.project {
    width: 97vw;
    height: 17vh;
    z-index: 2;
  /*  border: dashed 3px blue; */
}

.leftContent {
    float: left;
    margin-bottom: 0vh;
    margin-left: 2vw;
    width: 40vw;
}

.rightContent {
    margin-top: -15vh;
    margin-right: 3vh;
    float: right;
    display: inline;
    width: 44vw;

    /*border: dashed 3px green;*/
}

.subDev {
    font-size: 20pt;
    font-family: 'Raleway', sans-serif;
    padding-left: 1vw;
    padding-top: 1vh;
}

.subGame {
    font-size: 18pt;
    font-family: 'Raleway', sans-serif;
    padding-left: 2vw;
    }

.de {
    width: 44vw;
    font-size: .9em;
    font-family: 'Noto Serif JP', serif;
    line-height: 1.2;
    text-align: justify;
    padding-left: 2vw;
    padding-top: 1vh;
}

.webImg {
    margin-top: 0.5vh;
    margin-left: 3vw;
    width: 25vw;
    border-radius: 20px;
}

.gameVid {
    width: 28vw;
    height: 28vh;
    border-radius: 20px;
}

.devImg {
    margin-right: 2vw;
    width: 12vw;
}



.artItem {
    margin-top: 2vh;
    width: 40vw;
}



.gallery {
    float: right;
    padding-right: 8vh;
    width: 40vw;
    color: #ffffff;
    margin-top: -12vh;
}