.highlightDev {
    margin: 0 auto;
    padding-top: 6vh;
    padding-bottom: 0vh;
    padding-left: 20vh;
    width: 85%;
    z-index: 2;
    border-bottom: #3F3C3C solid 3px;
}

.subtitleDev {
    width: 60vw;
    text-align: left;
    font-size: 2.3em;
    font-family: 'Raleway', sans-serif;
    padding-left: 1vw;
    padding-top: 1vh;
}

.descDev {
    width: 65vw;
    text-align: left;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 1vw;
    padding-left: 2vw;
    padding-top: 1vh;
}

.softContent {
    display:inline;
    width: 75vw;
}


.gameVid {
    margin: 1vw;
    width: 32vw;
}

.devImg {
    float: left;
    margin: 1vw;
    margin-left: 5vw;
    width: 20vw;
    border-radius: 10px;
}

.rpgImg {
    float: right;
    margin-right: 25vw;
    width: 40vw;
    border: #3F3C3C solid 1px;
    border-radius: 10px;
}


.faDevGroup {
    
}

.faDev {
    font-size: 5em;
    color: #3F3C3C;
    padding: .5vw;
    text-decoration: none;
    margin-left: 2vw;
}

