#maintitle {
    margin: auto;
    padding-top: 22vh;
    padding-bottom: 20vh;
    width: 55vw;
    z-index: 2;
    
}

#topic {
    color: white;
    text-align: left;
    font-size: 3.9em;
    font-family: 'Raleway', sans-serif;
    border-left: white solid 3px;
    border-bottom: white solid 3px;
    padding-left: 1vw;
    padding-bottom: 1vw;
    filter: drop-shadow(-4px 4px 0px #151515);
}


p {
    padding: 0px;
    margin: 0px;
}

.top {
    background-image: url(/images/banner-temp.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 60vh;
}

.desBanner {
    background-image: url(/images/banner-des1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 60vh;
}

.faBanner {
    background-image: url(/images/banner-fa1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 60vh;
}

.devBanner {
    background-image: url(/images/banner-dev1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 60vh;
}

nav {
    margin-top: 2vh;
    display: inline;
    float: right;
    position: static;
}

.sublink {
    float: right;
    padding-right: 4vw;
    font-style: italic;
    font-size: 1em;
}

    .sublink:link {
        color: #3F3C3C;
        text-decoration: none;
    }

    .sublink:visited {
        color: #3F3C3C;
    }

    .sublink:hover {
        text-decoration: underline;
        text-decoration-color: #3F3C3C;
    }

    .sublink:active {
        text-decoration: underline;
        text-decoration-color: #3F3C3C;
    }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    #maintitle {
        margin: auto;
        padding-top: 20vh;
        padding-bottom: 10vh;
        width: 75vw;
        z-index: 2;
    }

    #topic {
        text-align: left;
        font-size: 3.2em;
        font-family: 'Raleway', sans-serif;
        border-left: white solid 3px;
        border-bottom: white solid 3px;
        padding-left: 1vw;
        padding-bottom: 1vw;
    }


    p {
        padding: 0px;
        margin: 0px;
    }

    .top {
        background-image: url(/images/banner-des1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        padding-bottom: 10vh;
    }

    .desBanner {
        background-image: url(/images/banner-des1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .faBanner {
        background-image: url(/images/banner-fa1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .devBanner {
        background-image: url(/images/banner-dev1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    nav {
        margin-top: 2vh;
        display: inline;
        float: right;
        position: static;
    }

    .sublink {
        float: right;
        padding-right: 4vw;
        font-style: italic;
        font-size: 1em;
    }

        .sublink:link {
            color: #3F3C3C;
            text-decoration: none;
        }

        .sublink:visited {
            color: #3F3C3C;
        }

        .sublink:hover {
            text-decoration: underline;
            text-decoration-color: #3F3C3C;
        }

        .sublink:active {
            text-decoration: underline;
            text-decoration-color: #3F3C3C;
        }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #maintitle {
        margin: auto;
        padding-top: 20vh;
        padding-bottom: 10vh;
        width: 75vw;
        z-index: 2;
    }

    #topic {
        text-align: left;
        font-size: 3.2em;
        font-family: 'Raleway', sans-serif;
        border-left: white solid 3px;
        border-bottom: white solid 3px;
        padding-left: 1vw;
        padding-bottom: 1vw;
    }


    p {
        padding: 0px;
        margin: 0px;
    }

    .top {
        background-image: url(/images/banner-des1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        padding-bottom: 10vh;
    }

    .desBanner {
        background-image: url(/images/banner-des1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .faBanner {
        background-image: url(/images/banner-fa1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .devBanner {
        background-image: url(/images/banner-dev1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    nav {
        margin-top: 2vh;
        display: inline;
        float: right;
        position: static;
    }

    .sublink {
        float: right;
        padding-right: 4vw;
        font-style: italic;
        font-size: 1em;
    }

        .sublink:link {
            color: #3F3C3C;
            text-decoration: none;
        }

        .sublink:visited {
            color: #3F3C3C;
        }

        .sublink:hover {
            text-decoration: underline;
            text-decoration-color: #3F3C3C;
        }

        .sublink:active {
            text-decoration: underline;
            text-decoration-color: #3F3C3C;
        }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #maintitle {
        margin: auto;
        padding-top: 20vh;
        padding-bottom: 10vh;
        width: 75vw;
        z-index: 2;
    }

    #topic {
        text-align: left;
        font-size: 3.2em;
        font-family: 'Raleway', sans-serif;
        border-left: white solid 3px;
        border-bottom: white solid 3px;
        padding-left: 1vw;
        padding-bottom: 1vw;
    }


    p {
        padding: 0px;
        margin: 0px;
    }

    .top {
        background-image: url(/images/banner-des1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        padding-bottom: 10vh;
    }

    .desBanner {
        background-image: url(/images/banner-des1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .faBanner {
        background-image: url(/images/banner-fa1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .devBanner {
        background-image: url(/images/banner-dev1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    nav {
        margin-top: 2vh;
        display: inline;
        float: right;
        position: static;
    }

    .sublink {
        float: right;
        padding-right: 4vw;
        font-style: italic;
        font-size: 1em;
    }

        .sublink:link {
            color: #3F3C3C;
            text-decoration: none;
        }

        .sublink:visited {
            color: #3F3C3C;
        }

        .sublink:hover {
            text-decoration: underline;
            text-decoration-color: #3F3C3C;
        }

        .sublink:active {
            text-decoration: underline;
            text-decoration-color: #3F3C3C;
        }
}




@media (max-width: 575.98px) {

    #maintitle {
        margin: auto;
        padding-top: 20vh;
        padding-bottom: 10vh;
        width: 75vw;
        z-index: 2;
    }

    #topic {
        text-align: left;
        font-size: 3.2em;
        font-family: 'Raleway', sans-serif;
        border-left: white solid 3px;
        border-bottom: white solid 3px;
        padding-left: 1vw;
        padding-bottom: 1vw;
    }


    p {
        padding: 0px;
        margin: 0px;
    }

    .top {
        background-image: url(/images/banner-des1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        padding-bottom: 10vh;
    }

    .desBanner {
        background-image: url(/images/banner-des1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .faBanner {
        background-image: url(/images/banner-fa1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    .devBanner {
        background-image: url(/images/banner-dev1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    nav {
        margin-top: 2vh;
        display: inline;
        float: right;
        position: static;
    }

    .sublink {
        float: right;
        padding-right: 4vw;
        font-style: italic;
        font-size: 1em;
    }

        .sublink:link {
            color: #3F3C3C;
            text-decoration: none;
        }

        .sublink:visited {
            color: #3F3C3C;
        }

        .sublink:hover {
            text-decoration: underline;
            text-decoration-color: #3F3C3C;
        }

        .sublink:active {
            text-decoration: underline;
            text-decoration-color: #3F3C3C;
        }
}

