#maintitle {
    margin: auto;
    padding-top: 22vh;
    padding-bottom: 20vh;
    width: 55vw;
    z-index: 2;
}

#topic {
    text-align: left;
    font-size: 3.9em;
    font-family: 'Raleway', sans-serif;
    border-left: #3F3C3C solid 3px;
    border-bottom: #3F3C3C solid 3px;
    padding-left: 1vw;
    padding-bottom: 1vw;
}


p {
    padding: 0px;
    margin: 0px;
}

.top {
    background-image: url(/images/banner-temp.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 60vh;
}

nav {
    margin-top: 2vh;
    display: inline;
    float: right;
    position: static;
}

.sublink {
    float: right;
    padding-right: 4vw;
    font-style: italic;
    font-size: 1em;
}

    .sublink:link {
        color: #3F3C3C;
        text-decoration: none;
    }

    .sublink:visited {
        color: #3F3C3C;
    }

    .sublink:hover {
        text-decoration: underline;
        text-decoration-color: #3F3C3C;
    }

    .sublink:active {
        text-decoration: underline;
        text-decoration-color: #3F3C3C;
    }