/*=====ドゥーム=====*/

.container {
    margin: 0 auto;
    width: 98vw;
    height: 99vh;
    border: dashed 3px red;
}

.App-header {
    padding-bottom: 2vh;
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    position: fixed;
    height: 4.5vh;
    color: #ffffff;
    background-color: #060e0fce;
}

nav {
    margin-top: 1vh;
    display: inline;
    float: right;
    position: static;
}

.headIcon {
    float: left;
    padding-left: 4vw;
    margin-top: 3vh;
}

.navlink {
    padding-right: 3.5vw;
    font-size: 1em;
}

    .navlink:link {
        color: #ffffff;
        text-decoration: none;
    }

    .navlink:visited {
        color: #ffffff;
    }

    .navlink:hover {
        text-decoration: underline;
        text-decoration-color: #ffffff;
    }

    .navlink:active {
        text-decoration: underline;
        text-decoration-color: #ffffff;
    }

.faHead {
    margin-top: 1vh;
    margin-right: 2vw;
    font-size: 2em;
    color: #ffffff;
    text-decoration: none;
}