/*=====ドゥーム=====*/

.container {
	margin: 0 auto;
	width: 98vw;
	height: 99vh;
	/*border: dashed 3px red;*/
}

.App-header {
	padding-bottom: 2vh;
	font-family: 'Raleway', sans-serif;
	width: 100vw;
	position: fixed;
	height: 4.5vh;
	color: #ffffff;
	background-color: #060e0fce;
}

nav {
	margin-top: 1vh;
	display: inline;
	float: right;
	position: static;
}

.headIcon {
	float: left;
	padding-left: 4vw;
	margin-top: 3vh;
}

.navlink {
	padding-right: 3.5vw;
	font-size: 1em;
}

	.navlink:link {
		color: #ffffff;
		text-decoration: none;
	}

	.navlink:visited {
		color: #ffffff;
	}

	.navlink:hover {
		text-decoration: underline;
		text-decoration-color: #ffffff;
	}

	.navlink:active {
		text-decoration: underline;
		text-decoration-color: #ffffff;
	}

.faHead {
	margin-top: 1vh;
	margin-right: 2vw;
	font-size: 2em;
	color: #ffffff;
	text-decoration: none;
}

/* CSS Media Queries ============================================================================================================= */

@media (max-width: 1312px) {
}

@media (max-width: 1280px) {
}

@media screen and (max-width: 1024.98px), screen and (max-height: 768.98px) and (orientation: landscape) {
	.App-header {
		padding-bottom: 2vh;
		font-size: 0.8em;
		height: 5vh;
	}

	nav {
		padding-right: 3vw;
		text-align: center;
	}

	.navlink {
		margin-left: .1vw;
		margin-right: .1vw;
	}

	.faHead {
		font-size: 1.9em;
		margin-left: 1.5vw;
		margin-right: 1.5vw;
		margin-top: 2vh;
	}
}

@media (max-width: 992px) {
	/*Sizing OK*/
}

@media screen and (max-width: 962.98px), screen and (max-height: 601.98px) and (orientation: landscape) {
	.App-header {
		padding-bottom: 2vh;
		font-size: 0.8em;
		height: 6vh;
	}

	nav {
		padding-right: 3vw;
		text-align: center;
	}

	.navlink {
		margin-left: .1vw;
		margin-right: .1vw;
	}

	.faHead {
		font-size: 1.7em;
		margin-left: 1.5vw;
		margin-right: 1.5vw;
		margin-top: 2vh;
	}
}

@media screen and (max-width:896.98px), screen and (max-height: 414.98px) and (orientation: landscape) {
	.App-header {
		padding-bottom: 2vh;
		font-size: 0.8em;
		height: 8vh;
	}

	nav {
		padding-right: 3vw;
		text-align: center;
	}

	.navlink {
		margin-left: .1vw;
		margin-right: .1vw;
	}

	.faHead {
		font-size: 1.7em;
		margin-left: 1.5vw;
		margin-right: 1.5vw;
		margin-top: 2vh;
	}
}

@media screen and (max-width:812.98px), screen and (max-height: 375.98px) and (orientation: landscape) {
	.App-header {
		padding-bottom: 2vh;
		font-size: 0.8em;
		height: 8vh;
	}

	nav {
		padding-right: 3vw;
		text-align: center;
	}

	.navlink {
		margin-left: .1vw;
		margin-right: .1vw;
	}

	.faHead {
		font-size: 1.7em;
		margin-left: 1.5vw;
		margin-right: 1.5vw;
		margin-top: 2vh;
	}
}

@media screen and (max-width:780.98px), screen and (max-height: 360.98px) and (orientation: landscape) {
	/*Sizing OK*/
}

/*=======================================================================================================================================================================*/


@media screen and (max-width: 768.98px), screen and (max-height: 1024.98px) and (orientation: portrait) {
	/*Sizing OK*/
}

@media screen and (max-width: 720.98px), screen and (max-height: 1280.98px) and (orientation: portrait) {
	.App-header {
		padding-bottom: 2vh;
		font-size: 1.2em;
		height: 6.5vh;
	}

	nav {
		text-align: center;
	}

	.navlink {
		margin-left: .5vw;
		margin-right: .5vw;
	}

	.faHead {
		font-size: 1.7em;
		margin-left: 4vw;
		margin-right: 4vw;
		margin-top: 2vh;
	}
}

@media (max-width: 688.98px) {
	/*Sizing OK*/
}

@media screen and (max-width: 601.98px), screen and (max-height: 962.98px) and (orientation: portrait) {
	.App-header {
		padding-bottom: 2vh;
		font-size: 1em;
		height: 6.5vh;
	}

	nav {
		text-align: center;
	}

	.navlink {
		margin-left: .3vw;
		margin-right: .3vw;
	}

	.faHead {
		font-size: 1.7em;
		margin-left: 4vw;
		margin-right: 4vw;
		margin-top: 2vh;
	}
}

@media screen and (max-width:414.98px), screen and (max-height: 896.98px) and (orientation: portrait) {
	.App-header {
		padding-bottom: 2vh;
		font-size: 0.7em;
		height: 5.5vh;
	}

	nav {
		text-align: center;
	}

	.navlink {
		margin-left: .3vw;
		margin-right: .3vw;
	}

	.faHead {
		font-size: 2.2em;
		margin-left: 4vw;
		margin-right: 4vw;
		margin-top: 2vh;
	}
}

@media screen and (max-width:393.98px), screen and (max-height: 851.98px) and (orientation: portrait) { /*Pixel4A*/
	.App-header {
		padding-bottom: 2vh;
		font-size: 0.7em;
		height: 5.5vh;
	}

	nav {
		text-align: center;
	}

	.navlink {
		margin-left: .3vw;
		margin-right: .3vw;
	}

	.faHead {
		font-size: 1.8em;
		margin-left: 4vw;
		margin-right: 4vw;
		margin-top: 2vh;
	}
}

@media screen and (max-width:375.98px), screen and (max-height: 812.98px) and (orientation: portrait) {
	.App-header {
		padding-bottom: 2vh;
		font-size: 0.65em;
		height: 5.5vh;
	}

	nav {
		text-align: center;
	}

	.navlink {
		margin-left: .3vw;
		margin-right: .3vw;
	}

	.faHead {
		font-size: 1.8em;
		margin-left: 4vw;
		margin-right: 4vw;
		margin-top: 2vh;
	}
}

@media screen and (max-width:360.98px), screen and (max-height: 780.98px) and (orientation: portrait) {


	.App-header {
		padding-bottom: 2vh;
		font-size: 0.65em;
		height: 5.5vh;
	}

	nav {
		text-align: center;
	}

	.navlink {
		margin-left: .3vw;
		margin-right: .3vw;
	}

	.faHead {
		font-size: 1.8em;
		margin-left: 4vw;
		margin-right: 4vw;
		margin-top: 2vh;
	}
}
/*=======================================================================================================================================================================*/

@media (max-width:319.98px) { /* smartphones, iPhone, portrait 480x320 phones  480 height*/

}
