

/*=====ドゥーム=====*/

.App {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* header section ====================================================*/
.App-header {
    padding-bottom: 2vh;
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    position: fixed;
    height: 6vh;
    color: #ffffff;
    background-color: #060e0fce;
}
/*
.App-footer {
    padding-top: 3vh;
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    position: inherit;
    bottom:0;
    height: 6vh;
    color: #ffffff;
    background-color: #060e0fce;
}
    */
nav {
    margin-top: 1vh;
    display: inline;
    float: right;
    position: static;
}

.headIcon {
    float: left;
    padding-left: 4vw;
    margin-top: 3vh;
}

.navlink {
    padding-right: 4vw;
}

    .navlink:link {
        color: #ffffff;
        text-decoration: none;
    }

    .navlink:visited {
        color: #ffffff;
    }

    .navlink:hover {
        text-decoration: underline;
        text-decoration-color: #ffffff;
    }

    .navlink:active {
        text-decoration: underline;
        text-decoration-color: #ffffff;
    }

.faHead {
    font-size: 2.2em;
    color: #ffffff;
    padding-right: 1.3vw;
    text-decoration: none;
    margin-top: 1vh;
}

/* End header section ====================================================*/


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


